@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>单个symbol批量成交记录管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="condition" name="名称" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="Kline.search()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="KlineTableToolbar" role="group">
                            @if(shiro.hasPermission("/kline/add")){
                                <#button name="添加" icon="fa-plus" clickFun="Kline.openAddKline()"/>
                            @}
                            @if(shiro.hasPermission("/kline/update")){
                                <#button name="修改" icon="fa-edit" clickFun="Kline.openKlineDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/kline/delete")){
                                <#button name="删除" icon="fa-remove" clickFun="Kline.delete()" space="true"/>
                            @}
                        </div>
                        <#table id="KlineTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/huobi/kline/kline.js"></script>
@}
