<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.huobi.dao.KlineMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.huobi.model.Kline">
        <id column="id" property="id" />
        <result column="k_amount" property="amount" />
        <result column="k_count" property="count" />
        <result column="k_open" property="open" />
        <result column="k_close" property="close" />
        <result column="k_low" property="low" />
        <result column="k_high" property="high" />
        <result column="k_vol" property="vol" />
        <result column="k_symbol" property="symbol" />
        <result column="peroid" property="peroid" />
        <result column="gmt_created" property="gmtCreated" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, k_amount, k_count, k_open, k_close, k_low, k_high, k_vol, k_symbol, peroid, gmt_created
    </sql>

    <select id="getLimitFrontIds" resultType="integer" parameterType="map">
        select id
        from kline
        where peroid = #{period}
        and k_symbol = #{symbol}
        order by id desc
        limit 0,#{size}
    </select>

    <!-- 既然之寻找插入的，-->
    <select id="selectInserted" resultMap="BaseResultMap" parameterType="map">
        select  id
        from kline
        where peroid = #{period}
        and k_symbol = #{symbol}
        order by id desc
        limit 0,#{size}
    </select>


    <select id="selectLatest" resultMap="BaseResultMap" parameterType="map">
        select  id, k_amount, k_count, k_open, k_close, k_low, k_high, k_vol
        from kline
        WHERE id = (SELECT MAX(id) FROM kline
        WHERE peroid = #{period}
        and k_symbol = #{symbol})
        and peroid = #{period}
        and k_symbol = #{symbol}
    </select>
    <insert id="batchInsert" parameterType="list">
      insert into kline(<include refid="Base_Column_List" />)
      values
      <foreach collection="insertKlineList" item="item"   separator=",">
          (#{item.id},#{item.amount},#{item.count},#{item.open} ,#{item.close}
          ,#{item.low},#{item.high},#{item.vol},#{item.symbol},#{item.peroid}
          ,#{item.gmtCreated})
      </foreach>
    </insert>


    <select id="selectAllKline" resultMap="BaseResultMap" parameterType="map">
        select id, k_amount, k_open, k_close, k_low, k_high
        from kline
        where peroid = #{period}
      and k_symbol = #{symbol}
    </select>
</mapper>
