@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>k线细化划分管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="condition" name="名称" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="KlineDivide.search()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="KlineDivideTableToolbar" role="group">
                            @if(shiro.hasPermission("/klineDivide/add")){
                                <#button name="添加" icon="fa-plus" clickFun="KlineDivide.openAddKlineDivide()"/>
                            @}
                            @if(shiro.hasPermission("/klineDivide/update")){
                                <#button name="修改" icon="fa-edit" clickFun="KlineDivide.openKlineDivideDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/klineDivide/delete")){
                                <#button name="删除" icon="fa-remove" clickFun="KlineDivide.delete()" space="true"/>
                            @}
                        </div>
                        <#table id="KlineDivideTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/huobi/klineDivide/klineDivide.js"></script>
@}
